body{
    background: linear-gradient(to right, #6d6d6d 0%, #484848 100%);
}
body > table{
    width: 90%;
    /* padding: 2rem; */
    margin: 3rem;
    background: linear-gradient(to bottom, #4a4a4a 0%, #999999 100%);
}
.heading{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; 
    font-size: 45px;
    margin-top: 1rem;
    font-family: cursive;
    
}

table{
    border-collapse: collapse;
}
table.list{
    width:90%;
}

td, th {
    border: 3px solid #383737;
    
    text-align: left;
    padding: 8px;
}
tr {
    background-color: #e81b1b;
    /*background: linear-gradient(to right, #000099 0%, #0099ff 100%);*/
    background: linear-gradient(to right, #b98ede 0%, #ad79da 100%);
    
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    /* background-color: #ddd; */
    background:  #9d1dff;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

form div.form-action-buttons{
    text-align: center;
    font-weight: bold;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: linear-gradient(to right, #b98ede 0%, #ad79da 100%);
    margin-right: 4px;
}
.table1{
    background-color: #ff0008;
}
label.validation-error{
    color:   white;
    margin-left: 5px;
}

.hide{
    display:none;
}
.FullName{
    font-weight: bold;
}

.roll{
    font-weight: bold;
}

.course{
    font-weight: bold;
}
.clge{
    font-weight: bold;
}


